

body{
    background-color: black;
    /* font-family: "Funnel Sans", sans-serif; */
    font-family: "Doto", sans-serif;
    font-style: normal;
}
header{
    position: fixed;      /* FIXED, not sticky */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;        /* make sure it’s above all content */
    
    border-bottom: 1px solid rgba(220, 208, 255);
    color: rgba(220, 208, 255);
    background-color: rgb(0, 0, 0);
}
main {
    padding-top: 30px; /* match your header height */
    
}
footer{
    border-width: 0px;
    padding-top: 5px;
    border-top: 1px;
    border-style: solid;
    border-color: rgba(220, 208, 255);
    color: rgba(220, 208, 255);

}
.image-centre{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    
}
.imgg{
    width: 200px;
    height: 200px;
    border-color: rgba(220, 208, 255);
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    animation-name: colorful;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}


@keyframes colorful {
  0% {
    box-shadow: 0px 0px 1000px 20px rgba(255, 255, 255, 0.19);
  }

  50%{
    box-shadow: 0px 0px 1000px 100px rgba(183, 160, 255, 0.3);
  }
  100% {
    box-shadow: 0px 0px 1000px 20px rgba(255, 255, 255, 0.19);
  }
}
.white-text{
    color: white;
}

.lilac-text{
    color: rgba(220, 208, 255);
}

.text-center{
    text-align: center;
}

.text-big{
    font-size: 45px;
}
.text-mid{
    font-size: 30px;
}
nav{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.nav-stuff{
    margin: auto;
    font-size: 1.3em;
}

a:link {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:active {
    color: inherit;
    text-decoration: none;
}

.about-boxes{
    
    flex-direction: row;
    margin: 20px 100px 100px 100px;
    gap: 30px;

    display: flex;
    gap: 30px;
    align-items: stretch; 
    /* align-items: flex-start; */
    
}


@media (max-width: 1000px) {
  .about-boxes {
    flex-direction: column;
    margin: 20px;
    flex: 1;
  }
}

.about-boxes-info{
    
    
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    border-radius: 20px;
    flex: 1;
    width: 100%;
    flex-direction: column;   /* dit is de sleutel */
    
    
}

.about-img{
    background-color: rgb(29, 29, 29);
    
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    justify-content: space-between;  /* push first child top, last child bottom */
    border-radius: 20px;
    padding: 2.5% 2.5% 2.5% 2.5%;
    flex: 1;
    width: auto;
    border-color: rgb(55, 55, 55);
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    flex-direction: column;
    
}


.about-text{
    margin-bottom: 20px;
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    border-radius: 20px;
    text-align: center;
    flex: 1;
    border-color: rgb(55, 55, 55);
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    padding: 2.5%;
    background-color: rgb(29, 29, 29);
    
    
}
.about-text-2{
    display: flex;
    justify-content: center; 
    align-items: center;     
    border-radius: 20px;
    width: 100%;
    align-items: stretch; 
    
}



.skills-text{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
@media (max-width: 1000px) {
  .skills-text {
    flex-direction: column;
    width: 100%;
  }
}
.skills-list{
    padding-top: 10px;
    width: 100%;
    flex: 1;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(55, 55, 55);
    background-color: rgb(29, 29, 29);
}

.cv-name{
    /* margin-top: 10px; */
    font-size: 30px;
}
.cv-title{
    margin-top: -20px;
    font-size: 20px;
}
.img-about{
    width: 100%;
    border-color: rgba(220, 208, 255);
    border-width: 5px;
    border-style: solid;
    border-radius: 20px;
    
}
.button-cv{
   width: 100%;
   justify-content: center; /* horizontal center */
   align-items: flex-end;      /* verticaal naar beneden */
    border-color: rgba(220, 208, 255);
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    padding: 2.5% 0; 
    background-color: rgb(29, 29, 29);
    
}

.contact-boxes{
    display: flex;
    flex-direction: row;
    margin: 20px 100px 100px 100px;
    gap: 30px;
    
}
.contact-boxes-seperated{
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    border-radius: 20px;
    flex: 1;
    width: auto;
    flex-direction: column;   /* dit is de sleutel */
    background-color: rgb(29, 29, 29);
    padding: 2.5%;
}


.contact-boxes-seperated-1{
    gap: 10px;
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    border-radius: 20px;
    flex: 1;
    width: auto;
    flex-direction: column;   /* dit is de sleutel */
    
}
.contact-links{
    background-color: rgb(29, 29, 29);
    flex: 1;
    padding:0px 15px 0px 15px;
    width: calc(100% - 30px);
    border-width: 10px;
    border-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    align-items: center;
}
@media (max-width: 1000px) {
  .contact-boxes {
    flex-direction: column;
  }
  .contact-links{
    padding:15px;
  }
}

.contact-email-icon{
    width: 30px;
    margin-top: 60px;
    padding: 10px;
    margin: auto;
    background-color: rgba(220, 208, 255);
    border-radius: 50%;
    color: black;
    
    
}

.email-button{
    width: 100%;
    justify-content: center; /* horizontal center */
    align-items: flex-end;      /* verticaal naar beneden */
    border-color: rgba(220, 208, 255);
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    padding: 2.5% 0; 
    background-color: rgb(29, 29, 29);
    width: 60%;
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    word-break: break-word;

}



.project-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin:50px;
    border-radius: 20px;
    
}
    

.div1{
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(29, 29, 29);
    /* padding-bottom: 40px; */
    
}



.project-img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.project-img:hover{
    cursor: pointer;
}

.project-buttons{
    display: flex;
    justify-content: flex-start;
    margin: 0px 50px;
    
}
.project-buttons:hover{
    cursor: pointer;
}

.project-tags{
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
}

.project-tag{
    background-color: rgba(111, 23, 123, 0.305);
    border-color: rgba(220, 208, 255);
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
}
@media (max-width: 1000px) {
  .project-parent {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
  .project-buttons{
    display: flex;
    width: 100%;
    margin: 0px;
  }
}

.buttons-project{
    padding: 10px 20px;
    justify-content: center; /* horizontal center */
    align-items: flex-end;      /* verticaal naar beneden */
    border-color: rgba(220, 208, 255);
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    background-color: rgb(29, 29, 29);
}

.buttons-project:active{
    color: rgba(220, 208, 255);
}

.active{
    background-color: rgba(220, 208, 255, 0.342);
    color: rgba(220, 208, 255);
}

.project-link{
    border-radius: 20px;
    padding: 10px 20px;
    border-color: rgba(220, 208, 255);
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
}
.project-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* push description left, details right */
    gap:20px;
    
}


.project-text{
    background-color: rgb(29, 29, 29);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
}


.project-page-img {
    width: 100%;         /* Vul de container breedte */
    max-width: 600px;    /* Limiteer de maximale breedte */
    height: auto;        /* Hoogte automatisch, behoud aspect ratio */
    border-radius: 20px;
    display: block;
    margin: auto;
}
.project-details{
    padding: 20px;
    background-color: rgb(29, 29, 29);
    border-radius: 20px;
    width: 1700px;
    height: auto;
    
}
@media (max-width: 1000px) {
    .project-info{
        flex-direction: column;
    }
    .project-details{
        width: auto;
    }
}

.project-contribution{
    background-color: rgb(29,29,29);
    border-radius: 20px;
    padding:10px;
    margin-top: 20px;
    margin-bottom: 20px;
}




.project-contribution-text {
    background-color: rgb(29,29,29);
    padding: 20px;
    border-radius: 20px;
   
}

.project-contribution-images {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;

    background-color: rgb(29,29,29);
    border-radius: 20px;
    padding: 10px;

  
}

.project-contribution-images img {
    display: block;
    height: auto;
    max-width: 100%;
    border-radius: 15px;
}



