

body{
    background-color: black;
    /* font-family: "Funnel Sans", sans-serif; */
    font-family: "Doto", sans-serif;
    font-style: normal;
}
header{
    border-width: 0px;
    border-bottom: 1px;
    border-style: solid;
    border-color: rgba(220, 208, 255);
    color: rgba(220, 208, 255);

    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(0, 0, 0); /* important so content doesn’t show through */
    /* z-index: 1000; keeps it above other content */
    
}
footer{
    border-width: 0px;
    padding-top: 5px;
    border-top: 1px;
    border-style: solid;
    border-color: rgba(220, 208, 255);
    color: rgba(220, 208, 255);

}
.image-centre{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    
}
.imgg{
    width: 200px;
    height: 200px;
    border-color: rgba(220, 208, 255);
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    animation-name: colorful;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}


@keyframes colorful {
  0% {
    box-shadow: 0px 0px 1000px 20px rgba(255, 255, 255, 0.19);
  }

  50%{
    box-shadow: 0px 0px 1000px 100px rgba(183, 160, 255, 0.3);
  }
  100% {
    box-shadow: 0px 0px 1000px 20px rgba(255, 255, 255, 0.19);
  }
}
.white-text{
    color: white;
}

.lilac-text{
    color: rgba(220, 208, 255);
}

.text-center{
    text-align: center;
}

.text-big{
    font-size: 45px;
}
nav{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.nav-stuff{
    margin: auto;
    font-size: 1.3em;
}

a:link {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:active {
    color: inherit;
    text-decoration: none;
}

.about-boxes{
    
    flex-direction: row;
    margin: 20px 100px 100px 100px;
    gap: 30px;

    display: flex;
    gap: 30px;
    align-items: stretch; 
    /* align-items: flex-start; */
    
}


@media (max-width: 1000px) {
  .about-boxes {
    flex-direction: column;
    margin: 20px;
    flex: 1;
  }
}

.about-boxes-info{
    
    
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    border-radius: 20px;
    flex: 1;
    width: 100%;
    flex-direction: column;   /* dit is de sleutel */
    
    
}

.about-img{
    background-color: rgb(29, 29, 29);
    
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    border-radius: 20px;
    padding: 2.5% 2.5% 2.5% 2.5%;
    flex: 1;
    width: 100%;
    border-color: rgb(55, 55, 55);
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    flex-direction: column;
    
    
    
}
.about-text{
    margin-bottom: 20px;
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    border-radius: 20px;
    text-align: center;
    flex: 1;
    border-color: rgb(55, 55, 55);
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    padding: 2.5%;
    background-color: rgb(29, 29, 29);
    
    
}
.about-text-2{
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    border-radius: 20px;
    width: 100%;
    padding: 2.5%;
    align-items: stretch; /* dit is belangrijk */
    /* margin-bottom: 20px; */
    
}

.skills-text{
    display: flex;
    flex-direction: row;
    gap: 30px;
    
    
}
@media (max-width: 1000px) {
  .skills-text {
    flex-direction: column;
    width: 100%;
  }
}
.skills-list{
    padding-top: 10px;
    width: 100%;
    flex: 1;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(55, 55, 55);
    background-color: rgb(29, 29, 29);
}

.cv-name{
    /* margin-top: 10px; */
    font-size: 30px;
}
.cv-title{
    margin-top: -20px;
    font-size: 20px;
}
.img-about{
    width: 100%;
    border-color: rgba(220, 208, 255);
    border-width: 5px;
    border-style: solid;
    border-radius: 20px;
    
}
.button-cv{
   width: 100%;
   justify-content: center; /* horizontal center */
   align-items: flex-end;      /* verticaal naar beneden */
    border-color: rgba(220, 208, 255);
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    padding: 2.5% 0; 
    background-color: rgb(29, 29, 29);
    
}




